<template name="assetList">

    <div class="container">
        <div align="center">
            <div class="input-group" style="width: 35em">
                <input type="text"
                       placeholder="..."
                       class="form-control" aria-label="Text input with segmented dropdown button">
                <div class="input-group-append">

                    <button type="button" class="btn btn-primary">검색</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container up-down-padding-4">
        <div class="card-columns">
            {{#each list}}
                {{>assetItem}}
            {{/each}}
        </div>
    </div>

    <div class="container">
        <div align="center">

            <button name="more" type="button" class="btn btn-secondary btn-lg btn-block">
                <i class="glyphicon glyphicon-arrow-down"></i> 더보기
            </button>

        </div>
    </div>
</template>