<template name="login">
    <div id="login">
        <div class="login_wrap">
            <span class="logo">SIGHT STOCK</span>
            <h3>로그인하기</h3>
            <div class="col">
                <input type="text" name="loginEmail" placeholder="메일">
            </div>
            <div class="col">
                <input type="text" name="loginPassword" placeholder="시크릿">
            </div>
            <div class="login_wrap__btns_wrap">
                <button class="btn btn-secondary " name="login">로그인</button>
                <a href="/signin" class="goSignin">가입하기</a>
            </div>

        </div>
    </div>

</template>
