.logo{
    display:block;
    font-style: italic;
    color: rgba(0,0,0,0.2);
    font-size: 14px;
}
.nav-style {
    margin-bottom: 4em;
}

.up-down-padding-4 {
    padding: 4em;
}

.up-down-padding-3 {
    padding: 3em;
}

.up-down-padding-2 {
    padding: 2em;
}

.up-down-padding-1 {
    padding: 1em;
}

.card:hover {
    cursor: pointer;
}

.group .row {
    padding: 5px 0px 0px 10px;
}

/* rating */

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before , .rating > .static{
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before, .raiting > .half.static {
    content: "\f089";
    position: absolute;
}

.rating .static, .rating > label{
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating .static .rating > input:checked ~ label,/* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating .static .rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

label.static:hover{ color: inherit; }
