<template name="footer">
    <footer id="footer" class="page-footer font-small bg-light pt-4" style="margin-top: 8em">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
                    <!-- Content -->
                    <h1 class="logo">SIGHT STOCK</h1>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> sightstock.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</template>