<template name="topnavbar">
    <div id="topNav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav-style">
            <a class="navbar-brand" href="#">SIGHT STOCK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a style="padding: 6px;" class="nav-item btn-link {{isActiveRoute regex='widgets'}}" href="{{pathFor 'asset'}}">에셋</a>
                    <a style="padding: 6px;" class="nav-item btn-link {{isActiveRoute regex='widgets'}}" href="{{pathFor 'funding'}}">펀딩</a>
                </div>
            </div>
            <div class="form-inline my-2 my-lg-0">

                {{#unless currentUser}}
                    <!-- user 로그인 안했을때  -->
                    <a class="nav-item nav-link {{isActiveRoute regex='widgets'}}" href="{{pathFor 'login'}}">로그인</a>
                    <!--// user 로그인 안했을때  -->
                {{/unless}}

                {{#if currentUser}}
                <!-- user 로그인했을대 -->
                    <div>
                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                계정 {{currentUserName}}
                            </span>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="nav-item nav-link {{isActiveRoute regex='widgets'}}" href="{{pathFor 'mypage'}}">마이페이지</a>
                                <a class="nav-item nav-link KlaytnLogOutButton">로그아웃</a>
                            </div>
                        </div>
                    </div>
                {{/if}}
                <!--// user 로그인했을때 -->
            </div>
        </nav>
    </div>

</template>
