<template name="fundItem">

    <div class="card" style="width: 22em;" name="fund-card">
        {{#if contentThumbnail}}
            <img src="{{contentThumbnail}}" class="card-img-top" alt="...">
        {{/if}}
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>

            <div>
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                     alt="..."
                     style="width:50px; height:50px;"
                     class="rounded-circle">
                <span>Video Freedom</span>
            </div>

            <div>
                <ul>
                    <li>배당금 지급</li>
                </ul>
            </div>

            <div>
                <strong>1,200,000 $</strong>
                <span>D-6</span>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

        </div>
    </div>

</template>