<template name="fundItem">

    <div class="card custom-card" name="fund-card">
        <img src="{{contentThumbnail}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h6 class="card-title">{{contentName}}</h6>
            <div>
                <strong>{{investedKlay}} KLAY</strong>
                <span class="float-right">D-{{dDay}}</span>
            </div>
            <div style="padding-top: 10px">
                <div class="progress">
                    <span class="progress_current" style="width:{{fundPercent investedStock contentTotalSupply}}%">{{fundPercent investedStock contentTotalSupply}}%</span>
                    <div class="progress-bar bg-info"
                         role="progressbar"
                         style="width: {{fundPercent investedStock contentTotalSupply}}%;"
                         aria-valuenow="{{fundPercent investedStock contentTotalSupply}}"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            {{fundPercent investedStock contentTotalSupply}}

        </div>
    </div>

</template>

