<template name="investList">
    <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
        <tr class="info">
            <th>이름</th>
            <th>전화번호</th>
            <th>이메일</th>
            <th>회사</th>
            <th>생일</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div align="center">
        <button name="more" class="btn btn-primary">
            <i class="glyphicon glyphicon-arrow-down"></i> 더보기
        </button>
    </div>
</template>