<template name="uploadProductionModal">
    <div class="modal fade" id="uploadProductionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="productionForm" data-production="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">제작물 업로드 </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table>
                            <colgroup>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="col">대표썸네일</th>
                                    <td colspan="3">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="productionThumbnail" data-production="thumbnail">
                                            <label class="custom-file-label" for="productionThumbnail">파일선택</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">상세 이미지</th>
                                    <td colspan="3">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="productionSubImages" data-production="subImage">
                                            <label class="custom-file-label" for="productionSubImages">파일선택</label>
                                            <ul class="sub-files">
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">저장</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>