<template name="usageList">
    <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">컨텐츠 번호
            </th>
            <th class="th-sm">사용 번호
            </th>
            <th class="th-sm">컨텐츠 이
            </th>
            <th class="th-sm">사용료
            </th>
            <th class="th-sm">결제일
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each usageList}}
            <tr>
                <td>{{contentId}}</td>
                <td>{{_id}}</td>
                <td>{{contentName}}</td>
                <td>{{usedKlay}}</td>
                <td>{{prodFinishAt paidAt}}</td>
            </tr>
        {{/each}}

        </tbody>
        <tfoot>

        </tfoot>
    </table>
</template>