<template name="commentList">

    <hr class="my-5">

    <div class="container">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="제작자에게 문의할 내용을 입력해 주세요." aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button name="commentBtn" class="btn btn-outline-secondary" type="button" id="button-addon2">의견 입력</button>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">사용자</th>
                <th scope="col">내용</th>
                <th scope="col">제시일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>마크</td>
                <td>대충 몇 장의 이미지를 만들 예정이신가요?</td>
                <td>2019-05-29</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>대니 조</td>
                <td>일단 정확한 장수를 정하진 않았으나, 최소 100장은 될것으로 예상됩니다.</td>
                <td>2019-05-29</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>이주한</td>
                <td>이번에도 질높은 작품을 기대하고 있습니다.</td>
                <td>2019-05-29</td>
            </tr>
            </tbody>
        </table>
    </div>

</template>