<template name="fundDetail">

    <hr class="my-5">

    <!-- 대표이미지 & 간략소개 row -->
    <div class="row">

        <!-- 대표이미지 -->
        <div class="col-lg-5">
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                <img class="img-fluid detailThumb"
                     style="width:370px;
                             height:370px;
                             background-repeat: no-repeat;
                             background-image: url({{content.contentThumbnail}});
                             background-size: cover"
                     >
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>
        <!-- 대표 이미지 -->

        <!-- 간략소개 -->
        <div class="col-lg-7">

            {{#each list}}
                {{>tagTmpl}}
            {{/each}}

            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>{{content.contentName}}</strong></h3>

            <p>
                {{content.contentDesc}}
            </p>

            <div class="group">
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{fundPercent}}%;" aria-valuenow="{{fundPercent}}" aria-valuemin="0" aria-valuemax="100">{{fundPercent}}%</div>
                </div>

                <div>
                    <span class="fund-txt">{{fundPercent}} %</span>
                    <span> 달성</span>
                </div>

                <div>
                    <span class="fund-txt">{{content.investedKlay}} Klay</span>
                    <span> 펀딩</span>
                </div>

                <div>
                    <span class="fund-txt">{{content.contentInvestorCnt}}</span>
                    <span> 명 투자중</span>
                </div>
            </div>


            <div class="input-group mb-3" style="padding-top: 20px;">

                <div class="input-group-prepend" style="">
                    <span class="input-group-text" id="basic-addon1">STOCK</span>
                </div>
                <input name="stockVal"
                       type="text" class="form-control"
                       value="1"
                       placeholder=""
                       aria-label="Username" aria-describedby="basic-addon1">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">KLAY</span>
                </div>
                <input name="investVal"
                       type="number" class="form-control"
                       value="1"
                       readonly
                       placeholder="1 Klay = 1 주 입니다."
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div style="width: 100%">
                <button class="btn btn-primary btn-lg btn-block"
                        name="investBtn"
                        >투 자 하 기</button>
            </div>


        </div>
        <!-- 간략소개 -->

    </div>

    <hr class="my-5">

    <!-- 투자 정보 -->
    <div class="row">

        <section class="text-center my-5 col-lg-12">

            <h2 class="h1-responsive font-weight-bold my-5">투자 기본정보</h2>
            <p class="lead grey-text w-responsive mx-auto mb-5">해당 컨텐츠는 아래와 같은 투자조건을 내걸고 있습니다. 투자 시 꼭 참고하여 주시기 바랍니다.</p>

            <div class="row">

                <div class="col-md-4">
                    <h5 class="font-weight-bold my-4">전체 주식 수</h5>
                    <h4 class="grey-text mb-md-0 mb-5">{{content.contentTotalSupply}} 개</h4>
                </div>

                <div class="col-md-4">
                    <h5 class="font-weight-bold my-4">액면가</h5>
                    <h4 class="grey-text mb-md-0 mb-5">{{content.contentParValue}} 원</h4>
                </div>

                <div class="col-md-4">
                    <h5 class="font-weight-bold my-4">제작비용</h5>
                    <h4 class="grey-text mb-0">{{content.contentProdCost}} 원</h4>
                </div>

            </div>

        </section>

    </div>

    <hr class="my-5">

    <!-- 작가이미지 & 작가소개 & 작가이력 -->
    <div class="team-section my-5">


        <h2 class="h1-responsive font-weight-bold text-center my-5">제작자 이력소개</h2>
        <p class="grey-text text-center w-responsive mx-auto mb-5">SIGHT-STOCK의 제자작자들은 자체 심사기준을 통해 선발된, 검증된 전문가들 입니다.</p>

        <div class="row text-center text-md-left">

            <div class="col-lg-12 d-md-flex justify-content-between">

                <!-- 작가 이미지 -->
                <div class="avatar mb-md-0 mb-4 mx-4">
                    <img src="{{creator.creatorThumbnail}}" class="rounded z-depth-1" alt="Sample avatar">
                </div>

                <!-- 작가소개 -->
                <div class="mx-4">
                    <h4 class="font-weight-bold mb-3">{{creator.creatorName}}</h4>
                    <h6 class="font-weight-bold grey-text mb-3">{{creator.job}}</h6>
                    <p class="grey-text">{{creator.desc}}</p>

                </div>

                <!-- 작가이력 -->
                <div class="mx-4">
                    <ul class="list-group list-group-flush">
                        {{#each creator.creatorCareerList}}
                            {{>careerTmpl}}
                        {{/each}}
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <hr class="my-5">

    <!-- 최근 제작물 3개 -->
    <div class="row">
        <section class="text-center my-5">

            <h2 class="h1-responsive font-weight-bold my-5">최근 제작물</h2>
            <p class="dark-grey-text w-responsive mx-auto mb-5">해당 제작자가 최근 작업과 펀딩을 완료한 작품 목록입니다.</p>

            <div class="row">

                {{#each topThreeContentList}}
                    {{>topThreeTmpl}}
                {{/each}}
            </div>

        </section>
    </div>

    <hr class="my-5">

</template>


<template name="careerTmpl">
        <li class="list-group-item">{{career}}</li>

</template>

<template name="topThreeTmpl">
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

        <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="{{contentResourceList.[0]}}" style="width:370px; height: 250px;" alt="Sample image">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- 태그 모음 -->

        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>{{contentName}}</strong></h4>
        <p class="dark-grey-text">
            {{contentDesc}}
        </p>
        <p>at {{dateSet prodFinishDay}}</p>

    </div>
</template>